<div class="content-align-center justify-spc-bwn">
  <h1 class="page-title">Site Details</h1>
  <button type="button" class="primary-button" (click)="showDialog = true">+ Add New Site</button>
</div>

<div class="content-align-center">
  <div class="entires-dropdown">
    <label for="entries">Show</label>

    <select [(ngModel)]="limitEntries" name="entries" id="entries" class="dropdown">
      <option value="2">2</option>
      <option value="10">5</option>
      <option value="15">10</option>
    </select>

    <label for="entries">entries</label>
  </div>
  <input class="search-bar" type="text" [(ngModel)]="searchText" placeholder="Search records">
</div>

<div class="domain-table" role="table" aria-label="Domains">
  <div role="rowgroup">
    <div class="table-header-row grid-table" role="row">
      <span role="columnheader">Domain & Plan Name</span>
      <span role="columnheader">Storage</span>
      <span role="columnheader">Monthly Visitor</span>
      <span role="columnheader">Domains</span>
      <span role="columnheader">Status</span>
    </div>
  </div>

  <div *ngIf="loading">
    loading content...
  </div>
  <div role="rowgroup" *ngFor="let domain of domainList | filter:searchText |slice:0:limitEntries">
    <app-domain-card [domain]="domain"></app-domain-card>
  </div>
</div>
<app-add-new-site [visible]="showDialog" (dismiss)="hideDialog($event)"></app-add-new-site>