.layout {
  display: flex;
}

.navigation {
  width: 250px;
  height: 100vh;
  overflow: scroll;
  padding: 100px 0 20px;
  background-color: var(--primaryColor1);
}

.main-content {
  padding: 32px 56px;
  background-color: var(--neutralColor4);
  width: calc(100% - 250px);
}
