/* You can add global styles to this file, and also import other style files */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

:root {
  --primaryColor1: #5b7cfd;
  --primaryColor2: #33cc86;
  --primaryColor3: #ff7557;
  --primaryColor4: #ffae33;
  --primaryColor5: #ffcf27;
  --primaryColor6: #fbe691;

  --lightColor1: #dee5ff;
  --lightColor2: #cdf5f4;
  --lightColor3: #ffe5dd;
  --lightColor4: #d8e0fe;
  --lightColor5: #ffffff;

  --neutralColor1: #232d42;
  --neutralColor2: #8a92a6;
  --neutralColor3: #737b8b;
  --neutralColor4: #e7eef7;
  --neutralColor5: #e3e5e8;
  --neutralColor6: #929292;
}

.page-title {
  font-size: 32px;
  font-weight: 600;
}

.content-align-center {
  display: flex;
  align-items: center;
}

.justify-spc-bwn {
  justify-content: space-between;
}

button.primary-button {
  font-size: 14px;
  color: var(--lightColor5);
  padding: 14px 16px;
  background-color: var(--primaryColor1);
  border-radius: 4px;
  border: none;
}

.dropdown {
  padding: 6px 8px;
  min-width: 60px;
  color: var(--primaryColor1);
  border-color: var(--lightColor4);
  border-radius: 4px;
}

.search-bar {
  padding: 8px 12px;
  border: none;
  color: var(--neutralColor2);
  font-size: 14px;
  background-color: transparent;
  min-width: 250px;
}
